<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TheCodex</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Angular.JS Core JavaScript Framework -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>

    <!-- ANGULAR MODULES -->
    <script src="../js/myApp.js"></script>

</head>

<body>

<div id="wrapper" ng-app="myApp">

    <!-- Navigation -->
    <div ng-include="'../html/templates/nav/navbar_container.html'"></div>
    <!-- /.Navigation -->

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div ng-include="'../html/templates/page_heading.html'"></div>
            <!-- /.row -->

            <!-- Page Body -->
            <div class="row" ng-controller="myCtrl as Ctrl" ng-init="getDataFromServer()">
                <div class="col-lg-12">

                    <p>Link to a plunker with the angular that I put together to dynamically display my objects.</p>
                    <p>http://plnkr.co/edit/4Pj6vSkndX3jBHNsupER?p=preview</p>

                    <accordion close-others="false">
                        <accordion-group heading="{{level1.levelOneID}} + {{level1.listingName}}" ng-repeat="level1 in serverData | orderBy : 'levelOneID' : -serverData" >
                            <p ng-bind-html="level1.listingDescription | unsafe"></p>
                            <ul>
                                <accordion>
                                    <accordion-group heading="{{level2.levelTwoID}} + {{level2.listingName}}"  ng-repeat="level2 in level1.levelTwo | orderBy : 'levelTwoID' : -level1.levelTwo">
                                        <p ng-bind-html="level2.listingDescription | unsafe"></p>
                                        <ul>
                                            <accordion>
                                                <accordion-group heading="{{level3.levelThreeID}} + {{level3.listingName}}" ng-repeat="level3 in level2.levelThree | orderBy : 'levelThreeID' : -level2.levelThree">
                                                    <p ng-bind-html="level3.listingDescription | unsafe"></p>
                                                    <ul>
                                                        <accordion>
                                                            <accordion-group heading="{{level4.levelFourID}} + {{level4.listingName}}" ng-repeat="level4 in level3.levelFour | orderBy : 'levelFourID' : -level3.levelFour">
                                                                <p ng-bind-html="level4.listingDescription | unsafe"></p>
                                                            </accordion-group>
                                                        </accordion>
                                                        <!-- /.accordion.level.four -->
                                                    </ul>
                                                </accordion-group>
                                            </accordion>
                                            <!-- /.accordion.level.three -->
                                        </ul>
                                    </accordion-group>
                                </accordion>
                                <!-- /.accordion.level.two -->
                            </ul>
                        </accordion-group>
                    </accordion>
                    <!-- /.accordion.level.one -->

                    <br>
                    <br>
                    <p>Whole String : {{$scope.serverData}}</p>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.page_body -->
</div>
<!-- /.wrapper -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
