<accordion close-others="false">
    <accordion-group heading="{{level1.levelOneID}} + {{level1.listingName}}"
                     ng-repeat="level1 in serverData | orderBy : 'levelOneID' : -serverData">
        <p ng-bind-html="level1.listingDescription | unsafe"></p>
        <ul>
            <accordion>
                <accordion-group heading="{{level2.levelTwoID}} + {{level2.listingName}}"
                                 ng-repeat="level2 in level1.levelTwo | orderBy : 'levelTwoID' : -level1.levelTwo">
                    <p ng-bind-html="level2.listingDescription | unsafe"></p>
                    <ul>
                        <accordion>
                            <accordion-group heading="{{level3.levelThreeID}} + {{level3.listingName}}"
                                             ng-repeat="level3 in level2.levelThree | orderBy : 'levelThreeID' : -level2.levelThree">
                                <p ng-bind-html="level3.listingDescription | unsafe"></p>
                                <ul>
                                    <accordion>
                                        <accordion-group heading="{{level4.levelFourID}} + {{level4.listingName}}"
                                                         ng-repeat="level4 in level3.levelFour | orderBy : 'levelFourID' : -level3.levelFour">
                                            <p ng-bind-html="level4.listingDescription | unsafe"></p>
                                        </accordion-group>
                                    </accordion>
                                    <!-- /.accordion.level.four -->
                                </ul>
                            </accordion-group>
                        </accordion>
                        <!-- /.accordion.level.three -->
                    </ul>
                </accordion-group>
            </accordion>
            <!-- /.accordion.level.two -->
        </ul>
    </accordion-group>
</accordion>
<!-- /.accordion.level.one -->
