<form role="form">

    <div class="form-group">
        <label>Select Listing Table Level To Delete:</label>
        <select class="form-control" ng-model="setLevel" ng-init="setLevel = 'One'" ng-click="initClientLevel()">
            <option value="One">1</option>
            <option value="Two">2</option>
            <option value="Three">3</option>
            <option value="Four">4</option>
        </select>
        <br>
    </div>

    <div class="form-group"
         ng-show="setLevel == 'One'">
        <label> Choose Level1 to Delete:</label>
        <select class="form-control" ng-model="level" ng-click="setClientLevel(level)">
            <option ng-repeat="level1 in serverData" value="{{level1}}">
                {{level1.levelOneID}} - {{level1.listingName}}
            </option>
        </select>
    </div>

    <div class="form-group" ng-show="setLevel == 'Two'">
        <label> Choose Level2 to Delete:</label>
        <ol ng-repeat="level1 in serverData" ng-show="level1.levelTwo.length">Branch: {{level1.listingName}}:
            <select class="form-control" ng-model="level" ng-click="setClientLevel(level)">
                <option ng-repeat="levelTwo in level1.levelTwo" value="{{levelTwo}}">
                    {{levelTwo.levelTwoID}} - {{levelTwo.listingName}}
                </option>
            </select>
        </ol>
    </div>

    <div class="form-group" ng-show="setLevel == 'Three'">
        <label> Choose Level3 to Delete:</label>
        <ol ng-repeat="level1 in serverData" ng-show="level1.levelTwo.length">Branch: {{level1.listingName}}:
            <ol ng-repeat="level2 in level1.levelTwo" ng-show="level2.levelThree.length">Branch: {{level2.listingName}}:
                <select class="form-control" ng-model="level" ng-click="setClientLevel(level)">
                    <option ng-repeat="levelThree in level2.levelThree" value="{{levelThree}}">
                        {{levelThree.levelTwoID}} - {{levelThree.listingName}}
                    </option>
                </select>
            </ol>
        </ol>
    </div>

    <div class="form-group" ng-show="setLevel == 'Four'">
        <label> Choose Level3 to Delete Four:</label>
        <ol ng-repeat="level1 in serverData" ng-show="level1.levelTwo.length">Branch: {{level1.listingName}}:
            <ol ng-repeat="level2 in level1.levelTwo" ng-show="level2.levelThree.length">Branch: {{level2.listingName}}:
                <ol ng-repeat="level3 in level2.levelThree" ng-show="level3.levelFour.length">Branch:
                    {{level3.listingName}}:
                    <select class="form-control" ng-model="level" ng-click="setClientLevel(level)">
                        <option ng-repeat="levelFour in level3.levelFour" value="{{levelFour}}">
                            {{levelFour.levelTwoID}} - {{levelFour.listingName}}
                        </option>
                    </select>
                </ol>
            </ol>
        </ol>
    </div>

    <button type="submit" class="btn btn-default" ng-click="setClientLevel(level)">Populate
    </button>

    <blockquote>
        <span ng-show="setLevel == 'One'">{'levelOneID': , {{clientLevel.levelOneID}}
        </span>

        <span ng-show="setLevel == 'Two'">{'levelTwoID' :  {{clientLevel.levelTwoID}}
        <br> 'levelOneID': , {{clientLevel.levelOneID}} </span>

        <span ng-show="setLevel == 'Three'">{'levelThreeID' :  {{clientLevel.levelThreeID}}
        <br> 'levelTwoID': , {{clientLevel.levelTwoID}} </span>

        <span ng-show="setLevel == 'Four'">{'levelFourID' :  {{clientLevel.levelFourID}}
        <br> 'levelThreeID': , {{clientLevel.levelThreeID}} </span>

        <br> 'listingName': '',
        <br> 'listingDescription': '',
        <br> 'versionID': 0,
        <br> 'bookName': '',
        <br> 'pageNumber': 0,
        <span ng-show="setLevel == 'One'"><br> 'levelTwo' : [{{clientLevel.levelTwo}}]</span>
        <span ng-show="setLevel == 'Two'"><br> 'levelThree' : [{{clientLevel.levelThree}}]</span>
        <span ng-show="setLevel == 'Three'"><br> 'levelFour' : [{{clientLevel.levelFour}}]</span>
        <br>}
    </blockquote>

    <button type="submit" class="btn btn-default" ng-click="sendLevelOneDelete('DELETE')"
            ng-show="setLevel == 'One'">Submit Level 1
    </button>
    <button type="submit" class="btn btn-default" ng-click="sendLevelTwoDelete('DELETE')"
            ng-show="setLevel == 'Two'">Submit Level 2
    </button>
    <button type="submit" class="btn btn-default" ng-click="sendLevelThreeDelete('DELETE')"
            ng-show="setLevel == 'Three'">Submit Level 3
    </button>
    <button type="submit" class="btn btn-default" ng-click="sendLevelFourDelete('DELETE')"
            ng-show="setLevel == 'Four'">Submit Level 4
    </button>
</form>